@import "tailwindcss";
@plugin "daisyui";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Apply cursor-pointer to all buttons, but do not override existing cursor-* utilities */
button {
    cursor: pointer;
}

/* Roboto Slab Display font utility */
.roboto-slab-display {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}