@import "tailwindcss";
@plugin "daisyui";

html {
  color-scheme: light;
}

:root {
  --theme: light !important;
}

/* Bounce */
/* Button bounce on click */
.btn-bounce {
  transition: transform 0.2s ease;
}

.btn-bounce:active {
  animation: click-bounce 0.3s ease forwards;
}

@keyframes click-bounce {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}